
.arrivals__grid {
    display: grid;
    justify-items: center;
    grid-template-columns: 25fr 25fr 25fr 25fr;
    grid-column-gap: 4.5rem;
}

.arrivals__grid-item {
    width: 100%;
}

.arrivals__grid-img-container {
    position: relative;
    margin-bottom: .6rem;
    z-index: 100;
}

.arrivals__grid-img {
    filter:brightness(96.5%);
}

.arrivals__grid-img:hover {
    filter:brightness(90%);
}

.price {
    color: #494949;
    font-family: "MaisonNeue-Mono";
    letter-spacing: 0.5px;
    font-size: 18px;
    font-weight: 400;
}