.sticky {
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #ddd;
}

.header {
    max-width: 132rem;
    padding: 0 2rem;
    margin: 0 auto;
}

/* Site Title */
.header-img {
    height: 90%;
    width: auto;
    margin-right: -3rem;
}

.nav {

}

.nav-item {
    display: inline-block;
    font-weight: 400;
    font-size: 1.6rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    float: left;
    height: 65px;
    line-height: 65px;
}

/* ---- dropdown --- */


.nav-item-dropbtn {
    padding: 0 16px 0 16px;
    line-height: 65px;
    font-size: 16px;
    border: none;
    color: #4f4f4f;
    background-color: #fff;
}

.nav-item-dropdown {
    position: relative;
    display: inline-block;
}

.nav-item-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
}

.nav-item-dropdown-content a {
    padding-left: 16px;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    display: block;
}

.nav-item-dropdown-content a:hover {
    background-color: #ddd;
}

.nav-item-dropdown:hover .nav-item-dropdown-content {
    display: block;
}

.nav-item-dropdown:hover .nav-item-dropbtn {
    background-color: #ebe7f7;
}

/* icons */
/* Search */

.srch-icon-wrap {
    position: relative;
    width: 3.2rem;
    height: 3.2rem;
    margin-right:1rem;
}

.srch-icon-wrap:hover {
    cursor: pointer;
}
.srch-icon {
    line-height: 2.6rem;
    position: absolute;
    left: 0;
    top: .5rem;
}

.crt-icon-wrap {
    position: relative;
    width: 3.2rem;
    height: 3.2rem;
}


.crt-icon {
    line-height: 2.6rem;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.qty {
    z-index: 100;
    background-color: #937cd4;
    padding-left: 1px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2rem;
    border-radius: 50%;
    text-align: center;
    vertical-align: center;
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: -.5rem;
    bottom: -.5rem;
}


/* Mobile */
.header-mobile { display: block; }
.header-desktop { display: none; }
.spacer-header-compensate { line-height: 10rem; }

/* mobile side menu */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #937cd4;
    overflow-x: hidden;
    transition: 0.5s;

    padding: 6rem 0rem;
}

.sidebar a {
    padding: 1rem 1.5rem;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
   opacity: .6;
}

.sidebar .closebtn {
    position: absolute;
    top: -1rem;
    right: 0;
    font-size: 36px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #937cd4;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 2px;
}

.openbtn:hover {
    opacity: .6;
}


/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */


.dropbtn {
    display: inline-block;
    fill: #fff;
}

.dropbtn:hover,
.dropbtn:focus {
    opacity: .6;
    cursor: pointer;
}

.dropdown {

}

.dropdown-content {
    display: none;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
    background-color: #9886ba;
}

.dropdown-content a {
    padding: 1rem 1.6rem 1rem 3.2rem;
    text-decoration: none;
    display: block;
}



.show {display: block;}

.dropdown-arrow {
    color: #fff;
}

.sidebar-li {
    width: 40rem;
}

.sidebar .sidebar-li-dropdown {
    display: inline-block;
}

/* -------------------------------------- */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .header {
        height: 100%;
        width: auto;
        padding: 0 4rem 0 4rem;
    }
    .header-img {
        height: 100%;
        width: auto;
        margin-right: 0rem;
        margin-left: 0rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) {
    .header-mobile { display: none; }
    .header-desktop { display: block; }
    .spacer-header-compensate {
        line-height: 12rem;
    }
    /* Site Title */
    .header-img {
        height: 100%;
        width: auto;
        margin-left: -4rem;
        margin-right: -2rem;
    }
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}


