.sticky {
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #ddd;
}

.spacer-header-compensate {
    line-height: 12rem;
}

.header {
    max-width: 132rem;
    padding: 0 4rem;
    margin: 0 auto;
}

/* Site Title */
.header-img {
    height: 100%;
    width: auto;
    margin-left: -4rem;
    margin-right: .5rem;
}

.nav {

}

.nav-item {
    display: inline-block;
    font-weight: 400;
    font-size: 1.6rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    float: left;
    height: 65px;
    line-height: 65px;
}

/* ---- dropdown --- */


.nav-item-dropbtn {
    padding: 0 16px 0 16px;
    line-height: 65px;
    font-size: 16px;
    border: none;
    color: #4f4f4f;
    background-color: #fff;
}

.nav-item-dropdown {
    position: relative;
    display: inline-block;
}

.nav-item-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
}

.nav-item-dropdown-content a {
    padding-left: 16px;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    display: block;
}

.nav-item-dropdown-content a:hover {
    background-color: #ddd;
}

.nav-item-dropdown:hover .nav-item-dropdown-content {
    display: block;
}

.nav-item-dropdown:hover .nav-item-dropbtn {
    background-color: #ebe7f7;
}

/* icons */
/* Search */

.srch-icon-wrap {
    position: relative;
    width: 3.2rem;
    height: 3.2rem;
    margin-right:1rem;
}

.srch-icon-wrap:hover {
    cursor: pointer;
}
.srch-icon {
    line-height: 2.6rem;
    position: absolute;
    left: 0;
    top: .5rem;
}

.crt-icon-wrap {
    position: relative;
    width: 3.2rem;
    height: 3.2rem;
}


.crt-icon {
    line-height: 2.6rem;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.qty {
    z-index: 100;
    background-color: #937cd4;
    padding-left: 1px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2rem;
    border-radius: 50%;
    text-align: center;
    vertical-align: center;
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: -.5rem;
    bottom: -.5rem;
}



