
.page-btn {
    line-height: 38px;
    width: 40px;
    height: 40px;
    text-align: center;
    z-index: 2;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid #f1f1f1;
    border: 1px solid #ccc;
    border: 1px solid #ccc;
    background: #ccc;
    color: #111;
    border-radius: 3px;
    margin-left: .5rem;
    text-decoration: none;
    transition: background-color .3s;
}

.page-btn.active {
    background-color: #9886BA;
    color: white;
    border: 1px solid #9886BA;
    font-weight: 600;
}

.leftArrowDisabled {
    opacity: 40%;
}

.rightArrowDisabled {
    opacity: 40%;
}

.page-btn:hover {
    opacity: 60%;
}