/* numeral up/down */

.quantity-value {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    vertical-align: top;
    font-size: 1.2rem;
    border: 1px solid #f1f1f1;
    border: 1px solid #ccc;
    border: 1px solid #efefef;
    background: #efefef;
    color: #111;
    border-radius: 3px;
    text-decoration: none;
    margin-left: .5rem;
    text-align: center;
}
