/* Full-width input fields */
.search-input {
    margin: 0 !important;
    padding: 12px 20px !important;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: .3rem;
    line-height: 1;
    font-size: 1.6rem;
}

/* Center the image and position the close button */
.search-container {
    position: relative;
    padding: 5rem 3rem 3rem 3rem;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
    max-width: 50rem;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    opacity: .6;
    cursor: pointer;
}
