
.about {
    margin: 6rem auto 0;
    max-width: 73rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.about__title {
    font-size: 3.2rem;
}

.about__paragraph-title {
    font-size: 2.2rem;
    font-weight: bold;
}

.about__paragraph {
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 400;
}

.about__list {
    margin-bottom: 2rem;
    list-style-type: disc;
    margin-left: 3.2rem;
}

.about__list-item {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
}

.about__img {
    border: 10px solid #f1f1f1;
}
