
.cart {
    border-top: 1px solid rgba(0,0,0,0.15);
}
.cart__title {
    font-size: 2.5rem;
    line-height: 1.6;
}

.table__heading {
    line-height: 2;
    border-bottom: 1px solid rgba(0,0,0,0.15);
}

.table__img {
    border: 1px solid rgba(0,0,0,0.15);
}

.table__p {
    margin: 0;
    line-height: 2;
}
.underline {
    text-decoration: underline;
}



.table__delete {
    position: relative;
    padding-left: 2.4rem;
    margin-top: 1rem;
}

.table__delete-cross {
    position: absolute;
    text-decoration: none;
    left: 0;
    top: 0;
    font-weight: 400;
    font-size: 2.4rem;
    color: #4f4f4f;
}

.table__item {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(0,0,0,0.15);
}

.table__total {
    margin-top: 2rem;
    padding-top: 4rem;
}

.cart__total-outcome {
    font-size: 2rem;
}

.cart__total-price {
    font-size: 2rem;
}

/* numeral up/down */
.square {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 3px;
    text-align: center;
    line-height: 2.6rem;
    border: 1px solid rgba(0,0,0,0.15);
    font-size: 2.6rem;
}
.square-number {
    font-size: 1.4rem;
    border: 0;
    margin-left: .8rem;
    margin-right: .8rem;
}