
.cart {
    margin-bottom: 8rem;
}
.cart__title {
    font-size: 2.5rem;
    line-height: 1.6;
}

.table__heading {
    line-height: 2;
    border-bottom: 1px solid rgba(0,0,0,0.15);
}

.table__img {
    border: 5px solid rgba(0,0,0,0.15);
    border: 6px solid #f1f1f1;;
   /* filter:brightness(96.5%); */
}

.table__p {
    margin: 0;
    line-height: 2;
}
.underline {
    text-decoration: underline;
}

.table-delete-container {
    margin-top: 1rem;
}

.table-delete {
    padding-left: 2.4rem;
    position: relative;
    display: inline-block;
}

.table-delete-cross {
    position: absolute;
    text-decoration: none;
    left:.2rem;
    top:.2rem;
    font-weight: 400;
    font-size: 1.8rem;
    color: #4f4f4f;
}

.table-delete:hover {
    cursor: pointer;
    opacity: .6;
}

.table__item {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(0,0,0,0.15);
}

.table__total {
    margin-top: 2rem;
    padding-top: 4rem;
}

.cart__total-outcome {
    font-size: 2rem;
}

.cart__total-price {
    font-size: 2rem;
}

.delete {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
}

.cart__continue {
    font-size: 1.4rem;
}

.inline-block {
    display: inline-block;
}

.cart__total {
    text-align: right;
}
