
/* Collection */
.collections {

}
.arrivals__grid-img.absolute {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}


.collections__page-numbers {
    font-size: 1.4rem;
}

.fixed-width-ch {
    text-align: center;
    display: inline-block;
    width: 2rem;
}