.categories {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
/* <--- Header --> */
.categories-header {
    margin-bottom: 20px;
    border: 0px solid black;
}
.categories-header h2 {
    line-height: 32px;
    font-size: 28px;
    font-weight: 400;
    display: block;
    float: left;
    color: #303030;
}

.categories-article-table {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-size: 14px;
    text-align: left;
}
.categories-article-table th {
    padding: 0;
    line-height: 1;
    color: #595959;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 14px;
    padding-bottom: 15px;
    padding-top:  15px;
    border-bottom: 1px solid #ddd;
}
.categories-article-table td {
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #ddd;
    font-size: 15px !important;
}
.categories-article-table th:first-child,
.categories-article-table td:first-child {
    width: 170px;
    padding-left: 10px;
}
.categories-article-table td:last-child,
.categories-article-table th:last-child {
    text-align: center;
}
.categories-article-table td,
.categories-article-table th {
    border: 1px solid #ddd;
}
.categories-article-table td:nth-child(3) {
    width: 20%;
}
.categories-article-table td:nth-child(2),
.categories-article-table th:nth-child(2) {
    width: 20%;
    text-align: center;
}
/* <--- Links --> */
.categories-article-table-link {
    color: #337ab7;
    text-decoration: none;
}
/* mouse over link */
.categories-article-table-link:hover {
    color: #234F74;
    cursor: pointer;
    text-decoration: underline;
}

.categories-btn:hover {
    opacity: .6;
    cursor: pointer;
}

.categories-icon {
    width: 1.2rem;
    height: 1.2rem;
}

.btn-category {
    min-width: 4.6rem;
    height: 4.6rem;
    padding: 0;
    margin-left: .5rem;
}


input.category-article-control {
    margin: 0;
    width: 100%;
    font-size: 1.4rem;
    color: #4f4f4f;
}

.category-divider {
    margin: 2.5rem 0;
}
