@import "~react-image-gallery/styles/css/image-gallery.css";

.banner {
    width: 50%;
    padding-right: 3.2rem;
    margin-bottom: 9.1rem;
}

.btn-primary {}
.btn-primary a {
    border-radius: 2.8rem;
    padding: 1rem 2rem;
    display: inline-block;
    color: #ffffff;
    background-color: #ea5600;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.5;
}
/* unvisited link */
.btn-primary a:link {
    color: #fff;
}

/* visited link */
.btn-primary a:visited {
    color: #fff;
}

/* mouse over link */
.btn-primary a:hover {
    background-color: #ea691e;
}

/* selected link */
a:active {
    color:#fff;;
}

.category__grid {
    display: grid;
    grid-template-columns: 33.33fr 33.33fr 33.33fr;
    grid-column-gap: 4.5rem;
    margin-bottom: 7rem;
}

.category__grid-item {
}

.category__grid-img {
    filter:brightness(96%);
}

.category__grid-img:hover {
    filter:brightness(90%);
}

.category__grid-img-container {
    margin-bottom: .6rem;
}

.arrivals__grid {
    display: grid;
    grid-template-columns: 25fr 25fr 25fr 25fr;
    grid-column-gap: 4.5rem;
    margin-bottom: 8rem;
}

.arrivals__grid-item {
}

.arrivals__grid-img {
    filter:brightness(96%);
}

.arrivals__grid-img:hover {
    filter:brightness(90%);
}

.arrivals__grid-img-container {
    margin-bottom: .6rem;
}

.price {
    font-weight: 700;
    font-size: 1.5rem;
}

.accessories {
}
.charm {

}














