.logo-font {
    font-family: 'Arsenal', sans-serif;
}

/* Banner Start */
.banner { position: relative; }

.banner-caption {
    position: absolute;
    bottom: 10%;
    width: 100%;
    bottom: 5%;
    width: 90%;
    left: 5%;
    background: rgba(255, 255, 255, 0.8);
}

.banner-caption-txt {
    text-align: center;
    color: #937cd4;
    line-height: 1.6;
    font-weight: 500;
    font-size: 1.6rem;
    padding: 1rem;
    margin: 0;
}

.banner-caption-button-wrap {
    margin-bottom: 1rem;
}



.banner-caption-brand {
    width: 140px;
    margin: 0 auto;
}

.btn-mobile {
    padding: 1rem 3.5rem;
}


/* Banner End */

.arrivals { margin-top: 3rem; }

.mood {
    position: relative;
    background-color: #fff;
}

.mood-img { opacity: 0.8; }

.mood-caption {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
}

.mood-caption-title {
    font-family: 'Arsenal', sans-serif;
    margin-bottom: 4rem;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1.5;
}

.kangaroo { margin-right: .5rem; }



.signup {
    background-color: #efefef;
    padding: 6rem 0;
}


/* ***************************************** */

.spacer {
    height: 3rem;
    width: 100%;
}

.signup-paragraph {
    font-size: 1.6rem;
}

.products-img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}


.arrivals-relative { position: relative; }

.arrivals-absolute {
    position: absolute;
    left: 0;
    top: 0;
}

.category-relative { position: relative; }

.category-absolute {
    position: absolute;
    left: 0;
    top: 0;
}

/* mobile responsive */


.mobile-list {
    width: 100%;
    overflow-x: scroll;
    white-space:nowrap;
}

.mobile-list-item {
    display: inline-block;
    width: 200px;
    margin-right: 1.5rem;
}

.mobile-list-item:last-child {
    margin-right: 0;
}

.mobile { display: block; }
.tablet { display: none; }
.desktop { display: none; }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .mobile { display: none; }
    .tablet { display: block; }
    .arrivals { margin-bottom: 7rem; margin-top: 5rem; }
    .category { margin-bottom: 7rem; }

    .btn-mobile {
        padding: 1.4rem 4.5rem;
    }

    .banner-caption {
        bottom: 5%;
        width: 90%;
        left: 5%;
        background: rgba(255, 255, 255, 0.8);
    }

    .banner-caption-txt {
        color: #937cd4;
        line-height: 2;
        font-weight: 500;
        font-size: 1.8rem;
        margin-bottom: 1rem;
        padding: 1rem;
        padding-top: 1.5rem;
    }

    .banner-caption-brand {
        width: 140px;
        margin: 0 auto;
    }

    .banner-caption-button-wrap {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) {

    .banner-caption {
        top: 8%;
        left: 0;
        width: 50%;
        background: transparent;
    }



    .tablet { display: none; }
    .desktop { display: block; }

    .banner-caption-brand {
        width: 200px;
        margin: 0 auto;
    }

    .banner-caption-txt {
        padding: 0;
        text-align: left;
        margin-left: 11%;
        color: #937cd4;
        line-height: 2;
        font-weight: 500;
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
    .banner-caption-button-wrap {
        margin-top: 1.5rem;
        margin-bottom: 0;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .banner-caption {
        top: 10%;
        width: 40%;
    }

    .banner-caption-txt {
        margin-left: 15%;
        max-width: 360px;
    }

    .banner-caption-brand {
        width: 280px;
        margin: 0 auto;
    }

    .banner-caption-button-wrap {
        margin-top: 3rem;
    }
}

/* Extra Large devices (laptops/desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .banner-caption {
        top: 18%;
    }
    .banner-caption-txt {
        margin-left: 20%;
    }
}





