/* Product */
.product-price {
    font-size: 2.2rem;
    color: #4f4f4f;
}

.product-share { font-size: 1.5rem; }

.product-img {
    border: 10px solid #f1f1f1;
}

.product-img-rel {
    width: 100%;
    position: relative;
}

.product-img-abs {
    position: absolute;
    left: 0;
    top: 0;
}

.product { margin-top: 2rem; }

.product-nav-arrows {
    min-width: 9rem;
}

.product-mobile {
    display: block;
}

.product-desktop {
    display: none;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .product-mobile {
        display: none;
    }

    .product-desktop {
        display: block;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .product { margin-top: 5rem; }
}


