/* Product */
.product {
    margin-bottom: 10rem;
}

.product__img {
//border: 1px solid rgba(0,0,0,0.15);
    padding: 1rem;
    background-color: #f1f1f1;
}
.product__title {
    font-size: 2.4rem;
    line-height: 1.6;
    color: #080a1c;
}
.product__brand-title {
    font-size: 1.8rem;
}

.product__price {
    font-size: 2.2rem;
    color: #4f4f4f;
}

.product__description {
    font-weight: 400;
    font-size: 1.4rem;
    font-style: normal;
    line-height: 1.6;
}

.product__share {
    font-size: 1.5rem;
}


.buy {
    background-color: #9886BA; /* purple */
    border-radius: 3px;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    font-weight: 700;

    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #9886BA;
    outline: none;

    padding: 1.4rem 2.5rem;
    font-size: 1.6rem;
    border-radius: 3px;
}

.buy:hover {
    background-color: #bca9df;
    color: #f7f7f7;
    border: 2px solid #bca9df;
}

.add-shop-cart {
    font-weight: 500;
    border: none;
    background: #ccc;
    color: #4f4f4f;
    position: relative;
    overflow: hidden;
    padding: 1.4rem 2.5rem;
    font-size: 1.6rem;
    border-radius: 3px;
    border: 2px solid #ccc;
}

.add-shop-cart:hover {
    opacity: 40%;
}
