
/* Search start */
.search-form {
    width: 100%;
}

input[type="text"].search-term {

    transition: border-color 0.2s ease;
    border: 1px solid #bbb;
    text-align: left;
    border-radius: 2px;
    font-size: 1.5rem;
    flex: 100%;
    height: 4rem;
    padding-left: 1rem;
    outline: none;
    margin: -.1rem 0 0 0;
}

.search-btn {
    margin-left: 1rem;
    padding: 1.2rem 2rem;
}
/* Search end */


.search-mobile { display: block; }
.search-desktop { display: none; }

@media only screen and (min-width: 600px) {
    .search-form {
        width: 100%;
        margin-top: 0;
    }
}

@media only screen and (min-width: 768px) {
    .search-mobile { display: none; }
    .search-desktop { display: block; }
    .search-form {
        width: 50%;
        margin-top: 0;
    }
}


@media only screen and (min-width: 992px) {
    .search-form {
        width: 40%;
        margin-top: 0;
    }
}


@media only screen and (min-width: 1200px) {
    .search-form {
        width: 35%;
        margin-top: 0;
    }
}

