.reset-wrap {
    width: 50rem;
    margin: 0 auto;
}

.reset {
    border: 2px solid #f15c4b;
    padding: 2rem;
    width: 100%;
}

.reset p {
    font-weight: 700;
    color: #f15c4b;
    margin: 0;
}

.reset p.margin-bottom {
    margin-bottom: 2rem;
}

.reset-btn {
    background-color: #f15c4b;
    color: #fff;
    padding: 1.2rem 5rem;
}

.reset-divider {
    background-color: #f15c4b;
    height: .2rem;
}

.api-message-box {
    position: relative;
    border: 2px solid #4f8d4f;
    width: 100%;
    min-height: 4.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1rem 2rem;
    color: #4f8d4f;
}

.api-message-box-red {
    border: 2px solid #f15c4b;
    color: #f15c4b;
}

.api-message-box-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.api-message-box-close:hover {
    cursor: pointer;
    opacity: .6;
}
