
.shipping {
    margin: 6rem auto 0;
    max-width: 73rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.shipping__title {
    font-size: 3.2rem;
}

.shipping__paragraph-title {
    font-size: 2.2rem;
    font-weight: bold;
}

.shipping__paragraph {
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 400;
}

.shipping__list {
    margin-bottom: 2rem;
}

.shipping__list-item {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6;
    margin-left: 1.6rem;
    padding-left: 1rem;
    margin-bottom: .8rem;
}

.hr-shipping {
    margin-bottom: 3rem;

}
