@import "~react-image-gallery/styles/css/image-gallery.css";

/* shared */
h5 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #111;
}

p {
    font-weight: 400;
    font-size: 1.4rem;
    font-style: normal;
    line-height: 1.6;
}

input[type="email"] {
    transition: border-color 0.2s ease;
    border: 1px solid #bbb;
    padding: 0px 16px;
    width: 100%;
    text-align: left;
    border-radius: 2px;
    height: calc(28px + 20px - 2px);
}
a, input, select, button, textarea {
    outline: 0;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

/* layout */

.inline { display: inline-block; }


/* font weights */
.thin { font-weight: 100; }
.extra-light { font-weight: 200; }
.light { font-weight: 300; }
.normal { font-weight: 400; }
.medium { font-weight: 500; }
.semi-bold { font-weight: 600; }
.bold { font-weight: 700; }
.extra-bold { font-weight: 800; }
.black { font-weight: 900; }
.extra-black { font-weight: 950; }

.full-width { width: 100%; }

.btn {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1.4rem 4.5rem;
    transition-duration: 0.4s;
    cursor: pointer;
    outline: none;
    border-radius: 3px;
    border: 0;
}

.btn:hover { opacity: .6; }

.btn:disabled { opacity: .6; }

.btn-disabled { opacity: .6; }

.btn-primary {
    background-color: #9886BA; /* purple */
    color: #fff;
}

.btn-small {
    font-size: 1.4rem;
    padding: 1.2rem .9rem;
    border-radius: 2px;
}

.btn-secondary {
    background: #ccc;
    color: #4f4f4f;
    font-weight: 500;
}

.btn-icon {
    line-height: 40px;
    width: 40px;
    height: 40px;
    font-size: 12px;
    font-weight: 400;
    color: #111;
    margin-left: .5rem;
    padding: 0;
}

.btn-active {
    background-color: #9886BA;
    color: white;
    font-weight: 600;
}

.btn-icon-circle {
    padding: 0;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    color: #111;
}

/* declare font last to have an effect */


/* font */
.font-small { font-size: 1.4rem; }
.font-large { font-size: 2.2rem; }
.font-grey { color: #777; }

/* ----------------------------------------------------- */

.grid {
    display: grid;
    grid-column-gap: 4.5rem;
    justify-items: center;
}

.grid-col-3 {
    grid-template-columns: 33.33fr 33.33fr 33.33fr;
}

.grid-col-4 {
    grid-template-columns: 25fr 25fr 25fr 25fr;
}


/* end shared */

.image-gallery-bullets .image-gallery-bullet {
    box-shadow: none;
    border: 1px solid #fff;
    background-color: #fff;
    width: 1.9rem;
    height: 1.9rem;
}

.image-gallery-bullets .image-gallery-bullet.active {
    border: 1px solid #9886BA;
    background-color: #9886BA;
}


.banner {
    position: relative;
}

.banner-caption {
    position: absolute;
    left: 3rem;
    top: 18%;
    width: 40%;
}

.banner-caption-brand {
    width: 320px;
    width: 280px;
    margin: 0 auto;
}
.banner-caption-brand-img {}

.banner-caption-txt {
    margin-left: 8rem;
    max-width: 460px;
    margin-bottom: 0;
    color: #937cd4;
    line-height: 2;
    font-weight: 500;
    font-size: 1.8rem;
}

.mood {
    position: relative;
    background-color: #fff;
}

.mood-img {
    opacity: 0.8;
}

.mood-caption {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
}

.mood-caption-title {
    font-family: 'Arsenal', sans-serif;
    margin-bottom: 4rem;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1.5;
}

.kangaroo {
    margin-right: .5rem;
}

.category {
    margin-bottom: 7rem;
}

.arrivals {
    margin-bottom: 7rem;
}

.signup {
    background-color: #efefef;
    padding: 6rem 0;
}

/* images */

.img-dull {
    filter:brightness(96.5%);
}

.img-dull:hover {
    filter:brightness(90%);
}

/* paginator */

.fixed-width-page-number {
    text-align: center;
    display: inline-block;
    width: 2rem;
}

/* ***************************************** */

.spacer {
    height: 3rem;
    width: 100%;
}

.signup-paragraph {
    font-size: 1.6rem;
}





